@model PaginatedList<Setting>
@{
    int count = (Model.ActivePage - 1) * 2;
}

<div class="container" style="justify-content:center">
    <div class="container" style="justify-content:start">
        <h1>
            Settings
        </h1>
        <div class="container" style="justify-content:start">
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.Key</td>
                        <td>@item.Value</td>

                        <td>
                            <a class="btn btn-primary" asp-action="update" asp-controller="setting" asp-route-id="@item.Id" data-id="@item.Id">Update</a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

<div class="container">
    <nav aria-label="...">
        <ul class="pagination">
            @if (Model.Previous)
            {
                <li class="page-item ">
                    <a asp-action="index" class="page-link" asp-route-page="@(Model.ActivePage-1)">Previous</a>
                </li>
            }
            @for (int i = 1; i <= Model.TotalPageCount; i++)
            {
                <li class="page-item @(Model.ActivePage==i?"active":"")" aria-current="page">
                    <a asp-action="index" class="page-link" asp-route-page="@i">@i</a>
                </li>
            }
            @if (Model.Next)
            {
                <li class="page-item ">
                    <a asp-action="index" class="page-link" asp-route-page="@(Model.ActivePage+1)">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>
